@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
body {
  padding: 0;
  margin: 0;
}
body #first-section .box1 {
  width: 100%;
  height: 64px;
  background-color: #434ccc;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #first-section .box1 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
body #first-section .box1 .container .logoandcontent {
  width: 1170px;
  height: 48px;
  display: flex;
  border: none;
}
body #first-section .box1 .container .logoandcontent .logo {
  width: 102px;
  height: 48px;
  color: var(--Text_White, #FFF);
  /* H3 */
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  border: none;
}
body #first-section .box1 .container .logoandcontent .aboutsection {
  width: 324px;
  height: 24px;
  border: 2px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 534px;
  text-align: left;
  border: none;
}
body #first-section .box1 .container .logoandcontent .aboutsection ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
}
body #first-section .box1 .container .logoandcontent .aboutsection ul li {
  color: white;
  list-style: none;
  text-align: right;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
body #first-section .box1 .container .logoandcontent #button-topmost {
  width: 170px;
  height: 48px;
  margin-left: 40px;
  background-color: #434ccc;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 5%;
}
body #first-section .box1 .container .logoandcontent #hamburger {
  display: none;
}
body #first-section .box2 {
  width: 100%;
  height: 704px;
  border: 2px solid black;
  background-color: #434ccc;
  display: flex;
  border: none;
}
body #first-section .box2 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
body #first-section .box2 .container .duosection {
  height: 507px;
  width: 515px;
  border: 2px solid black;
  margin-top: 111px;
  border: none;
}
body #first-section .box2 .container .duosection .exp {
  width: 126px;
  height: 24px;
  border: 2px solid black;
  color: var(--Text_White, #FFF);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  border: none;
}
body #first-section .box2 .container .duosection .duo {
  width: 515px;
  height: 160px;
  border: 2px solid black;
  margin-top: 24px;
  color: var(--Text_White, #FFF);
  /* H1 */
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  border: none;
}
body #first-section .box2 .container .duosection .para1 {
  width: 370px;
  height: 72px;
  border: 2px solid black;
  margin-top: 32px;
  color: var(--Text_White, #FFF);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
body #first-section .box2 .container .duosection .explore {
  width: 170px;
  height: 48px;
  margin-top: 41px;
  color: white;
  background-color: #f1b505;
  border: none;
}
body #first-section .box2 .container #top-first-image {
  width: 900px;
  margin-left: -111px;
}
body #first-section .box3 {
  width: 100%;
  height: 768px;
  background-color: #ffdd78;
  border: none;
}
body #first-section .box3 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #first-section .box3 .container .vivendo {
  width: 469px;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 60px;
  border: none;
}
body #first-section .box3 .container .para2 {
  width: 570px;
  margin-top: 29px;
  margin-left: 435px;
  margin-right: 435px;
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
body #first-section .box3 .container .grid {
  width: 100%;
  height: 416px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 36px;
  border: none;
}
body #first-section .box3 .container .grid div {
  border: 2px solid black;
  background-color: white;
  border: none;
}
body #first-section .box3 .container .grid .icon1 {
  margin-left: 119px;
  margin-right: 119px;
  margin-top: 64px;
}
body #first-section .box3 .container .grid .icon2 {
  margin-left: 84px;
  margin-right: 100px;
  margin-top: 73px;
}
body #first-section .box3 .container .grid .icon3 {
  margin-left: 121px;
  margin-right: 105px;
  margin-top: 58px;
}
body #first-section .box3 .container .grid .quidam {
  width: 162px;
  height: 32px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 178px;
  margin-top: 54px;
  position: absolute;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: none;
}
body #first-section .box3 .container .grid .para3quidam {
  width: 306px;
  height: 48px;
  border: 2px solid black;
  margin-top: 101px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 25px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
body #first-section .box3 .container .grid .line {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background-color: #000;
  margin-top: 25px;
  margin-left: 32px;
  margin-bottom: 18px;
}
body #first-section .box3 .container .grid .mazim {
  width: 158px;
  height: 32px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 182px;
  margin-top: 63px;
  position: absolute;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: none;
}
body #first-section .box3 .container .grid .para3mazim {
  width: 306px;
  height: 48px;
  border: 2px solid black;
  margin-top: 110px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 25px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
body #first-section .box3 .container .grid .learnmore {
  width: 101px;
  margin-top: 18px;
  margin-left: 32px;
  margin-right: 237px;
  color: var(--Text_Black, #000);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
body #first-section .box3 .container .grid .idque {
  width: 175px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 165px;
  margin-top: 48px;
  position: absolute;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: none;
}
body #first-section .box3 .container .grid .para3idque {
  width: 306px;
  border: 2px solid black;
  margin-left: 33px;
  margin-right: 32px;
  margin-top: 95px;
  margin-bottom: 25px;
  position: absolute;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border: none;
}

.svg {
  position: relative;
}

.content {
  margin-top: 58px;
  margin-left: 91px;
  margin-right: 276px;
}

.orange-left p {
  margin: 0;
}

.orange-left h4 {
  margin-top: 17px;
}

.orange-right p {
  margin: 0;
}

.orange-right h4 {
  margin-top: 17px;
}

.svg {
  margin-top: 24px;
}

.svg > svg:nth-child(1) {
  position: absolute;
  top: 14px;
  left: 13px;
}

.blue {
  width: 100%;
  flex-shrink: 0;
  background: #434ccc;
  margin-top: 0;
}
.blue div {
  color: #fff;
  text-align: center;
  margin-top: 0;
}
.blue div h5 {
  padding-top: 79px;
  margin: auto;
  top: 2943px;
  left: 658px;
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.blue h2 {
  color: #fff;
  text-align: center;
  margin-top: 21px;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 64px; /* 114.286% */
}
.blue p {
  width: auto;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  margin-top: 29px;
  margin-left: 307px;
  margin-right: 302px;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.orange {
  display: flex;
  /* width: 80%; */
  gap: 24px;
  margin-top: 32px;
}

.orange-left {
  width: 49%;
  height: 512px;
  flex-shrink: 0;
  background-image: url("./image/second2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.orange-left p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.orange-left h4 {
  color: var(--Text_White, #FFF);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.orange-right {
  background-repeat: no-repeat;
  background-size: cover;
  width: 49%;
  height: 512px;
  flex-shrink: 0;
  background-image: url("./image/download (4).svg");
}
.orange-right p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.orange-right h4 {
  color: var(--Text_White, #FFF);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.yellow-outer {
  position: relative;
  left: 0;
  right: 0;
}

.image {
  width: 20px;
  height: 60px;
}

.yellow-outer::before {
  content: "";
  width: 100%;
  /* background: blue; */
  position: absolute;
  height: 480px;
  z-index: -1;
  background-color: #434ccc;
}

.left-logout img {
  margin-left: -128px;
}

.orange {
  height: 512px;
  flex-shrink: 0;
}

.blue p {
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.right-yellow img {
  width: 100%;
}

.text-heading p {
  margin: 0;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.text-heading h2 {
  margin-top: 21px;
  margin-bottom: 36px;
  color: var(--Text_White, #FFF);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.text-heading button {
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 13px 43.5px 11px 43.5px;
  background: transparent;
  border: 1px solid white;
}

.yellow-inner {
  margin-left: 100px;
  margin-right: 100px;
}

.yellow {
  background: #f1b505;
}

button {
  border-radius: 5px;
  border: 1px solid var(--Primary_1, #434CCC);
}
button p {
  color: #434CCC;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.right-logout h2 {
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.right-logout-inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 52px;
}
.right-logout-inner div h4 {
  margin-top: 32px;
  color: var(--Text_Black, #000);
  margin: 0;
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.right-logout-inner div p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  margin-top: 7px;
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.right-logout-inner div {
  width: 44%;
  margin-left: 30px;
}

.right-logout p {
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.right-logout {
  margin-left: 180px;
  width: 40%;
}

.left-logout {
  width: 40%;
}

.left-yellow {
  width: 40%;
}

.right-logout-inner div {
  width: 43%;
  margin-left: 30px;
}

h4 {
  margin: 0;
}

.right-yellow {
  width: 60%;
}

.button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 34px;
  padding: 13px 50.5px 11px 49.5px;
}
.button p {
  margin: 0;
  color: #434ccc;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#learnmore > p, #learnmore1 > p {
  color: var(--Text_Black, #000);
  color: black;
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.yellow-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

/*@media all and (min-width:768px){
    .container{
        width: 1170px;

flex-shrink: 0;
margin-right: auto;
margin-left: auto;
    }
}*/
@media all and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .right-logout-inner div {
    width: 100%;
    margin-left: 44px;
    margin-right: 44px;
  }
  /*.left-yellow{
    position: absolute;
    width: 100%;
  }*/
  .text-heading {
    width: 100%;
    padding-left: 44px;
    padding-right: 44px;
  }
  .blue p {
    margin-bottom: 0px;
    padding-bottom: 50px;
    width: 100%;
    margin-left: 0;
  }
  .yellow-inner {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  .text-heading h2 {
    color: var(--Text_White, #FFF);
    margin-top: 3px;
    /* H3 */
    font-family: "DM Serif Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
  }
  .text-heading h2 button {
    margin-top: 22px;
  }
  .left-yellow {
    width: 100%;
    position: absolute;
  }
  .right-yellow {
    width: 100%;
  }
  .orange {
    display: flex;
    /* width: 80%; */
    gap: 0;
    margin-top: 32px;
    flex-wrap: wrap;
  }
  .yellow-outer::before {
    height: 338px;
  }
  .button {
    width: 100%;
  }
  .logout-inner {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
  .left-logout {
    width: 100%;
  }
  .left-logout img {
    margin-left: 0;
    width: 100%;
  }
  .right-logout {
    margin-left: 0;
    width: 100%;
  }
  .orange-left {
    width: 100%;
    background-position: center;
  }
  .orange-left .content {
    width: 35%;
    margin-right: 44px;
    margin-left: 44px;
    font-size: 24px;
  }
  .orange-right {
    width: 100%;
    background-position: center;
  }
  .orange-right .content {
    width: 35%;
    margin-right: 44px;
    margin-left: 44px;
    font-size: 24px;
  }
  .orange {
    height: auto;
  }
}
@media (max-width: 768px) {
  .yellow-outer::before {
    height: 641px;
  }
}
@media (max-width: 468px) {
  .yellow-outer::before {
    height: 358px;
  }
}
@media (max-width: 375px) {
  .yellow-outer::before {
    height: 259px;
  }
}
body {
  padding: 0;
  margin: 0;
}
body footer #foot-first {
  width: 100%;
  height: 656px;
  flex-shrink: 0;
  background: #FFDD78;
}
body footer #foot-first .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
body footer #foot-first .container div {
  height: 412px;
  width: 470px;
  margin-top: 127px;
}
body footer #foot-first .container div p {
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin: 0 0 0 0;
}
body footer #foot-first .container div h2 {
  width: 419px;
  height: 128px;
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  margin: 21px 0 0 0;
}
body footer #foot-first .container div h3 {
  width: 470px;
  height: 103px;
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 29px 0 0 0;
}
body footer #foot-first .container div div {
  height: 76px;
  width: 470px;
  margin: 4px 0 0 0;
  display: flex;
  border: none;
}
body footer #foot-first .container div div div {
  height: 76px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
  border: none;
}
body footer #foot-first .container div div div label {
  width: 270px;
  height: 28px;
  margin: 0;
}
body footer #foot-first .container div div div input {
  margin: 0;
  width: 270px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
}
body footer #foot-first .container div div button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_1, #434CCC);
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin: 28px 0 0 30px;
  border: none;
}
body footer #foot-first .container img {
  width: 885px;
  height: 590px;
  flex-shrink: 0;
  margin-top: 21px;
  margin-left: -40px;
}
body footer #foot-second {
  width: 1440;
  height: 656px;
  flex-shrink: 0;
  background: #434CCC;
}
body footer #foot-second .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
body footer #foot-second .container #foot-second-left div {
  width: 570px;
  height: 464px;
  flex-shrink: 0;
  margin: 96px 0 0 0;
  background-image: url(./footer-images/Bitmap.svg);
  opacity: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body footer #foot-second .container #foot-second-left div div {
  position: absolute;
  top: 20%;
  left: 41%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  background-image: url(./footer-images/Group.svg);
  background-size: cover;
  background-position: center;
}
body footer #foot-second .container #foot-second-right p {
  color: var(--Text_White, #FFF);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  width: 107px;
  height: 24px;
  margin: 95px 0 0 145px;
}
body footer #foot-second .container #foot-second-right h2 {
  color: var(--Text_White, #FFF);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  width: 268px;
  height: 64px;
  margin: 21px 0 0 145px;
}
body footer #foot-second .container #foot-second-right #for-email {
  height: 76px;
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 24px 0 0 145px;
  border: none;
}
body footer #foot-second .container #foot-second-right #for-email label {
  width: 470px;
  height: 28px;
  margin: 0;
}
body footer #foot-second .container #foot-second-right #for-email input {
  margin: 0;
  width: 470px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
}
body footer #foot-second .container #foot-second-right #for-text {
  height: 124px;
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 4px 0 0 145px;
  border: none;
}
body footer #foot-second .container #foot-second-right #for-text label {
  color: #000;
  /* Label */
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 470px;
  height: 28px;
  margin: 0;
}
body footer #foot-second .container #foot-second-right #for-text input {
  width: 470px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
}
body footer #foot-second .container #foot-second-right button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin: 48px 0 0 145px;
  border: none;
}
body footer #foot-third {
  width: 1440;
  height: 319px;
  flex-shrink: 0;
}
body footer #foot-third .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
body footer #foot-third .container #foot-third-first {
  height: 168px;
  width: 270px;
  margin: 72px 0 0 0;
}
body footer #foot-third .container #foot-third-first h4 {
  width: 62px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 0;
}
body footer #foot-third .container #foot-third-first p {
  width: 270px;
  height: 79px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 23px 0 0 0;
}
body footer #foot-third .container #foot-third-first div {
  width: 68px;
  height: 18px;
  margin: 16px 0 0 0;
  display: flex;
  justify-content: space-around;
}
body footer #foot-third .container #foot-third-second {
  height: 168px;
  width: 253px;
  display: flex;
  justify-content: space-between;
  margin: 79px 0 0 130px;
}
body footer #foot-third .container #foot-third-second #list-one, body footer #foot-third .container #foot-third-second #list-two {
  height: 168px;
  width: 58px;
  display: flex;
  flex-direction: column;
}
body footer #foot-third .container #foot-third-second #list-one h3, body footer #foot-third .container #foot-third-second #list-two h3 {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin: 0 0 16px 0;
}
body footer #foot-third .container #foot-third-second #list-one p, body footer #foot-third .container #foot-third-second #list-two p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 8px 0 0 0;
}
body footer #foot-third .container #foot-third-third {
  width: 371px;
  height: 185px;
  display: flex;
  flex-direction: column;
  margin: 79px 0 0 132px;
}
body footer #foot-third .container #foot-third-third div {
  width: 371px;
  height: 73px;
  display: flex;
  justify-content: space-between;
}
body footer #foot-third .container #foot-third-third div #foot-image {
  width: 71px;
  height: 48px;
  background: url(./footer-images/Bitmap\ \(2\).png), lightgray 0px 0px/100% 100% no-repeat;
  border-radius: 5px;
}
body footer #foot-third .container #foot-third-third div #foot-text {
  width: 270px;
  height: 73px;
  display: flex;
  flex-direction: column;
}
body footer #foot-third .container #foot-third-third div #foot-text h6 {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0 0 0 0;
}
body footer #foot-third .container #foot-third-third div #foot-text p {
  color: var(--Text_Black, #000);
  /* Text_Small */
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
  margin-top: 1px;
}
body footer #foot-fourth {
  width: 1440px;
  height: 80px;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer #foot-fourth .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer #foot-fourth .container p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0;
}

.section-three .container2 {
  width: 100%;
}
.section-three .container2 .mainbox {
  gap: 12px;
}
.section-three .box1 {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
}
.section-three .box1 .item1 {
  width: 50%;
  text-align: left;
  background: #434CCC;
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.section-three .box1 .item1 :nth-child(1) {
  color: var(--Text_White, #FFF);
  border-left-color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 50px;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.section-three .box1 .item1 :nth-child(2) {
  color: var(--Text_White, #FFF);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
  line-height: 64px; /* 114.286% */
}
.section-three .box1 .item1 :nth-child(3) {
  color: var(--Text_White, #FFF);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: -20px;
}
.section-three .box1 .item1 button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: rgb(241, 181, 5);
  color: var(--Text_White, #FFF);
  border-radius: 10px;
  margin-bottom: 90px;
}
.section-three .box1 .item2 {
  flex: 1;
  text-align: center;
  background: url(./image/figma\ logo.svg), lightgray 0px 0px/100% 100% no-repeat;
}
.section-three .box2 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: rgb(245, 246, 252);
}
.section-three .box2 .mid-part {
  display: flex;
}
.section-three .box2 .mid-part .gridcard {
  margin: auto;
  width: 329px;
}
.section-three .box2 h5 {
  padding-top: 63px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
}
.section-three .box2 h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.section-three .box2 > p {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.section-three .box2 .gridcard {
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 13px;
}
.section-three .box2 .gridcard > har {
  margin: 50px;
}
.section-three .box2 .gridcard .card > img {
  width: 300px;
  flex-shrink: 0;
  border-radius: 50%;
}
.section-three .box2 .gridcard .card > h4 {
  text-align: left;
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  display: inline-block;
}
.section-three .box2 .gridcard .info {
  margin-top: -10px;
  box-shadow: 0 0 0 0 whitesmoke;
  display: flex;
  border-top: 1px solid rgb(244, 234, 234);
}
.section-three .box2 .gridcard .info .logos {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.section-three .box2 .gridcard .info > p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.section-three .box2 .ending-part {
  padding-bottom: 55px;
  margin: 30px;
}
.section-three .box2 .ending-part > p {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.section-three .box2 .ending-part .last-grid {
  gap: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.section-three .box2 .ending-part .last-grid > div {
  height: 100px;
  gap: 20px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.section-three .box2 .ending-part .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.section-three .box2 .ending-part .box > img {
  width: 46px;
  flex-shrink: 0;
  margin: 0px 9px 29px 9px;
}
.section-three .box2 .ending-part .box .subdiv > h4 {
  margin-top: 0px;
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.section-three .box2 .ending-part .box p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  margin-top: 5px;
  margin-bottom: 2px;
  flex-shrink: 0;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  .section-three .box1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .section-three .box1 .item1 {
    width: 100%;
    text-align: left;
  }
  .section-three .box1 .item1 :nth-child(1),
  .section-three .box1 .item1 :nth-child(2),
  .section-three .box1 .item1 :nth-child(3) {
    margin-top: 20px;
    padding: 0 20px;
  }
  .section-three .box1 .item1 button {
    width: 170px;
    height: 47px;
    margin-bottom: 20px;
    margin-left: 14px;
    border-radius: 0;
  }
  .section-three .box2 {
    width: 100%;
    height: auto;
  }
  .section-three .box2 .mid-part {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .section-three .box2 h5,
  .section-three .box2 h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .section-three .box2 .ending-part .last-grid {
    gap: 50px;
    display: grid;
    padding: 0 15px 0 14px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .section-three .box2 .ending-part .last-grid > div h4, .section-three .box2 .ending-part .last-grid > div p {
    margin: 0;
    padding: 0;
  }
}
#main {
  width: 100%;
  height: 496px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  background: #434ccc;
  padding: 127px 135px 121px 135px;
  box-sizing: border-box;
}

.main1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 65px;
}
.main1 button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  border: 1px solid #7b82db;
  border-radius: 5px;
}

.main2 {
  position: absolute;
  margin-left: 137px;
}

.child {
  margin-left: 452px;
}
.child h5 {
  width: 153px;
  height: 24px;
  color: var(--Text_White, #fff);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}
.child h4 {
  width: 670px;
  height: 107px;
  flex-shrink: 0;
  color: var(--Text_White, #fff);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-top: 33px;
  margin-bottom: 0px;
}
.child p:nth-of-type(1) {
  width: 125px;
  height: 32px;
  color: var(--Text_White, #fff);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 22px;
  margin-bottom: 0px;
}
.child p:nth-of-type(2) {
  width: 53px;
  height: 24px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 6px;
  margin-bottom: 0px;
}

#main3 {
  width: 1440px;
  height: 1904px;
  flex-shrink: 0;
}

#child1 {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: var(--Text_Black, #000);
  text-align: center;
}

#child2 {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  color: var(--Text_Black, #000);
  text-align: center;
}

#child3 {
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  color: var(--Text_Black, #000);
  text-align: center;
}

.child4 {
  width: 172px;
  height: 35px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px/100% 100% no-repeat;
  margin-left: 150px;
}

.child5 {
  width: 164px;
  height: 54px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px/100% 100% no-repeat;
  margin-left: 20px;
}

.child6 {
  width: 368px;
  height: 53px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px/100% 100% no-repeat;
  margin-left: 20px;
}

.child7 {
  width: 173px;
  height: 53px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px/100% 100% no-repeat;
  margin-left: 20px;
}

.child8 {
  width: 168px;
  height: 53px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px/100% 100% no-repeat;
  margin-left: 20px;
}

.child9 {
  color: #434CCC;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 150% */
  margin-top: 88px;
  border-radius: 5px;
  border: 1px solid var(--Primary_1, #434CCC);
  width: 170px;
  height: 48px;
  margin-top: 88px;
  margin-left: 635px;
}

.child10 {
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 159px;
  margin-left: 135px;
}

.child13 {
  height: 64px;
  width: 1117px;
  display: flex;
  margin-left: 135px;
}
.child13:nth-child(1) {
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.child13 .child12 {
  color: #434CCC;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 150% */
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Primary_1, #434CCC);
  opacity: 0.32;
  margin-top: 10px;
  margin-left: 780px;
}

.child14 {
  height: 550px;
  width: 1170px;
  margin-left: 135px;
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.child14 div {
  border: 2px solid black;
}
.child14 .child15 {
  width: 519px;
  height: 346px;
  flex-shrink: 0;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
}
.child14 .image1 {
  height: 100%;
  width: 100%;
}
.child14 .text1 {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 11px;
  margin-left: 32px;
}
.child14 .text2 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-top: 17px;
  margin-left: 32px;
}
.child14 .child16 {
  display: flex;
  border: none;
  gap: 3px;
}
.child14 .learn {
  height: 20px;
  width: 100px;
  margin-left: 32px;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border: none;
}
.child14 .learn1 {
  height: 20px;
  width: 50px;
  flex-shrink: 0;
  fill: #000;
  margin-top: 5px;
  border: none;
}

.child17 {
  border: none;
  width: auto;
  height: 300px;
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  gap: 10px;
}
.child17 .child18 {
  border: none;
  width: 325px;
  margin-left: 10px;
}
.child17 div {
  border: 1px solid black;
  width: 325px;
  margin-left: 10px;
}
.child17 .text3 {
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.child17 .text4 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.child17 .child19 {
  border: 1px solid black;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.child17 .child20 {
  display: flex;
  border: none;
}
.child17 .child21 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-left: 15px;
  border: none;
}
.child17 .text5 {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-left: 14px;
}
.child17 .image7 {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */