body{
    background-color: rgb(237, 228, 228);
     
    
}
 .box1{
    width: 100%;
    height: 456px;
    flex-shrink: 0;
    border: 1px solid;
   display: flex;
   background-color: red;
    .item1{
       
        width: 50%;
       text-align: left;
       border: 1px solid rgb(3, 10, 3);
       background: #434CCC;
       display: grid;
       flex-direction: column;
       justify-content: center;

          :nth-child(1){
        color: var(--Text_White, #FFF);
       border-left-color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
       margin-top: 50px;
        
        // padding: 127px 1175px 505px 135px;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
       }
       :nth-child(2){
        color: var(--Text_White, #FFF);

        /* H2 */
        font-family: "DM Serif Display";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
      
        margin-top: 2px;
        line-height: 64px; /* 114.286% */
       }
       :nth-child(3){
        color: var(--Text_White, #FFF);

        /* Text_Big */
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        margin-top: -20px;
           }
        button{
            width: 170px;
            height: 48px;
            flex-shrink: 0;     
            background-color: rgb(241,181,5);
            color: var(--Text_White, #FFF);
            border-radius: 10px;
            margin-bottom: 90px;
           }
         
       }
       
    }
    .item2{
        width: 50%;
        text-align:center;
        border: 1px solid rgb(3, 10, 3);
       background-image: url(./image/figma\ logo.svg);
       
        
     }
     .box2{
        width: 1440px;
height: 1600px;
flex-shrink: 0;
border: 2px solid black;
background-color: rgb(245,246,252);
.mid-part{
    display: flex;
    justify-content: space-around;
   
}
h5{
    color: var(--Text_Black, #000);
     text-align: center;
     /* H5 */
     font-family: "DM Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     text-transform: uppercase;
     line-height: 24px; /* 150% */
     letter-spacing: 4.8px;
      
}
h2{
    color: var(--Text_Black, #000);
    text-align: center;

    /* H2 */
    font-family: "DM Serif Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
}
>p{
    color: var(--Text_Black, #000);
text-align: center;

/* Text_Big */
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.gridcard{
    display: grid;
    grid-template-columns: repeat(3,100px);
    
    width: 370px;
height: 480px;
flex-shrink: 0;
border-radius: 5px;
text-align: center;
justify-content: center;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
>har{
 margin: 50px;
}
 
.card>img{
margin-top: 28px;
    width: 300px;
height: 300px;
flex-shrink: 0;
border-radius: 50%;
}
.card>h4{
     text-align: left;
    
     width: 300px;
     color: var(--Text_Black, #000);

     /* H4 */
     font-family: "DM Serif Display";
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px; /* 133.333% */
  
}
.info{
    width: 300px;
   margin-top: -10px;
    box-shadow: 0 0 0 0 whitesmoke;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(244, 234, 234);
   
.logos{
   display: flex;
   
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    
}
>p{
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));

     /* Text_Gray */
     font-family: "DM Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; /* 150% */
}
}
}
    }
 .ending-part{
     
    >p{
        color: var(--Text_Black, #000);
text-align: center;
 
 
/* Text_Big */
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

    }
    .last-grid{
        height:500px ;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        place-items: center;
        
    }
    .last-grid>div{
        height: 90px;
        width: 250px;
        
     gap: 15px;
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.30);
   
       
    }
    .box{
        display: flex;
   align-items: center;
   justify-content: center;
   padding: 12px;
  
    >img{
        width: 43px;
        height: 49px;
        flex-shrink: 0;
        margin-top: -25px;
 
    }
    .subdiv>h4{
        
        color: var(--Text_Black, #000);
          font-family: "DM Serif Display";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
    }
          p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            margin-top: -20px;
            height: 65px;
            flex-shrink: 0;
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;  
          }
    }
   
 }
 $Text_White: #fff;
$text-white-50: rgba(255, 255, 255, 0.5);

.blue {
  width: 100%;
  height: 768px;
  flex-shrink: 0;
  background: #434ccc;
  margin-top: 0;

  div {
    color: $Text_White;
    text-align: center;
    margin-top: 0;
    padding-top: 79px;

    h5 {
      margin: auto;
      width: 124px;
      height: 24px;
      top: 2943px;
      left: 658px;

      /* H5 */
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 4.8px;
      text-transform: uppercase;
    }
  }

  h2 {
    color: $Text_White;
    text-align: center;
    margin-top: 21px;

    /* H2 */
    font-family: "DM Serif Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 64px; /* 114.286% */
  }

  p {
    width: 508px;
    height: 83px;
    flex-shrink: 0;
    color: $Text_White;
    text-align: center;
    margin-top: 29px;
    margin-left: 435px;
    margin-right: 435px;

    /* Text_Big */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
}

.yellow {
  width: 1170px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f1b505;
  position: absolute;
  top: 345px;
  left: 86px;
  display: flex;

  .left-yellow {
    color: $text-white-50;

    /* Text_Gray */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    div {
      margin-top: 156px;
      margin-left: 100px;

      h2 {
        margin-top: 21px;
        color: $Text_White;
        width: 370px;
        height: 128px;

        /* H2 */
        font-family: "DM Serif Display";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; /* 114.286% */
      }
    }

    button {
      width: 170px;
      height: 48px;
      flex-shrink: 0;
      color: #fff;
      text-align: center;
      font-family: "DM Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.right-yellow {
  width: 50%;
  margin-right: 10px;
  flex-shrink: 0;
  background-image: url("./image/download.svg");
  background-position: center;
}

.orange {
  display: flex;
  width: 80%;
}

.orange-left {
  width: 768px;
  height: 512px;
  flex-shrink: 0;
  background-image: url("./image/second.svg");
}

.orange-right {
  width: 768px;
  height: 512px;
  flex-shrink: 0;
  background-image: url("./image/third.svg");
}

 