@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
.svg {
  position: relative;
}

.content {
  margin-top: 58px;
  margin-left: 91px;
  margin-right: 276px;
}

.orange-left p {
  margin: 0;
}

.orange-left h4 {
  margin-top: 17px;
}

.orange-right p {
  margin: 0;
}

.orange-right h4 {
  margin-top: 17px;
}

.svg {
  margin-top: 24px;
}

.svg > svg:nth-child(1) {
  position: absolute;
  top: 14px;
  left: 13px;
}

.blue {
  width: 100%;
  flex-shrink: 0;
  background: #434ccc;
  margin-top: 0;
}
.blue div {
  color: #fff;
  text-align: center;
  margin-top: 0;
}
.blue div h5 {
  padding-top: 79px;
  margin: auto;
  top: 2943px;
  left: 658px;
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.blue h2 {
  color: #fff;
  text-align: center;
  margin-top: 21px;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 64px; /* 114.286% */
}
.blue p {
  width: auto;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  margin-top: 29px;
  margin-left: 307px;
  margin-right: 302px;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.orange {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.orange-left {
  width: 49%;
  height: 512px;
  flex-shrink: 0;
  background-image: url("./image/second2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.orange-left p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.orange-left h4 {
  color: var(--Text_White, #FFF);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.orange-right {
  background-repeat: no-repeat;
  background-size: cover;
  width: 49%;
  height: 512px;
  flex-shrink: 0;
  background-image: url("./image/download (4).svg");
}
.orange-right p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.orange-right h4 {
  color: var(--Text_White, #FFF);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.yellow-outer {
  position: relative;
  left: 0;
  right: 0;
}

.image {
  width: 20px;
  height: 60px;
}

.yellow-outer::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 480px;
  z-index: -1;
  background-color: #434ccc;
}

.left-logout img {
  margin-left: -128px;
}

.orange {
  height: 512px;
  flex-shrink: 0;
}

.blue p {
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.right-yellow img {
  width: 100%;
}

.text-heading p {
  margin: 0;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.text-heading h2 {
  margin-top: 21px;
  margin-bottom: 36px;
  color: var(--Text_White, #FFF);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.text-heading button {
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 13px 43.5px 11px 43.5px;
  background: transparent;
  border: 1px solid white;
}

.yellow-inner {
  margin-left: 100px;
  margin-right: 100px;
}

.yellow {
  background: #f1b505;
}

button {
  margin-top: 34px;
  border-radius: 5px;
  border: 1px solid var(--Primary_1, #434CCC);
}
button p {
  color: #434CCC;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.right-logout h2 {
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.right-logout-inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 52px;
}
.right-logout-inner div h4 {
  margin-top: 32px;
  color: var(--Text_Black, #000);
  margin: 0;
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.right-logout-inner div p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  margin-top: 7px;
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.right-logout-inner div {
  width: 44%;
  margin-left: 30px;
}

.right-logout {
  margin-left: 180px;
  width: 40%;
}
.right-logout p {
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.left-logout {
  width: 40%;
}

.left-yellow {
  width: 40%;
}

.right-logout-inner div {
  width: 43%;
  margin-left: 30px;
}

h4 {
  margin: 0;
}

.right-yellow {
  width: 60%;
}

.button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 34px;
  padding: 13px 50.5px 11px 49.5px;
}
.button p {
  margin: 0;
  color: #434ccc;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.yellow-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

/*@media all and (min-width:768px){
    .container{
        width: 1170px;

flex-shrink: 0;
margin-right: auto;
margin-left: auto;
    }
}*/
@media all and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*.left-yellow{
    position: absolute;
    width: 100%;
  }*/
  .text-heading {
    width: 100%;
    padding-left: 44px;
    padding-right: 66px;
  }
  .blue p {
    margin-bottom: 0px;
    padding-bottom: 50px;
    width: 100%;
    margin-left: 0;
  }
  .yellow-inner {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  .text-heading h2 {
    color: var(--Text_White, #FFF);
    margin-top: 3px;
    /* H3 */
    font-family: "DM Serif Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
  }
  .text-heading h2 button {
    margin-top: 22px;
  }
  .left-yellow {
    width: 100%;
    position: absolute;
  }
  .right-yellow {
    width: 100%;
  }
  .orange {
    display: flex;
    /* width: 80%; */
    gap: 0;
    margin-top: 32px;
    flex-wrap: wrap;
  }
  .yellow-outer::before {
    height: 338px;
  }
  .content {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }
  .button {
    width: 100%;
  }
  .logout-inner {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
  .left-logout {
    width: 100%;
  }
  .left-logout img {
    margin-left: 0;
    width: 100%;
  }
  .right-logout {
    margin-left: 0;
    width: 100%;
  }
  .orange-left {
    width: 100%;
    background-position: center;
  }
  .content {
    font-size: 24px;
  }
  .orange-right {
    width: 100%;
    background-position: center;
  }
  .orange {
    height: auto;
  }
}
.box1 {
  width: 1440px;
  height: 456px;
  flex-shrink: 0;
  border: 1px solid;
  display: flex;
}
.box1 .item1 {
  width: 50%;
  text-align: left;
  border: 1px solid rgb(3, 10, 3);
  background: #434CCC;
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.box1 .item1 :nth-child(1) {
  color: var(--Text_White, #FFF);
  border-left-color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 50px;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.box1 .item1 :nth-child(2) {
  color: var(--Text_White, #FFF);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
  line-height: 64px; /* 114.286% */
}
.box1 .item1 :nth-child(3) {
  color: var(--Text_White, #FFF);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: -20px;
}
.box1 .item1 button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: rgb(241, 181, 5);
  color: var(--Text_White, #FFF);
  border-radius: 10px;
  margin-bottom: 90px;
}

.item2 {
  flex: 1;
  text-align: center;
  border: 1px solid rgb(3, 10, 3);
  background: url(./image/figma\ logo.svg), lightgray 0px 0px/100% 100% no-repeat;
}

.box2 {
  width: 1440px;
  height: 1600px;
  flex-shrink: 0;
  border: 2px solid black;
  background-color: rgb(245, 246, 252);
}
.box2 .mid-part {
  display: flex;
  justify-content: space-around;
}
.box2 h5 {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
}
.box2 h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.box2 > p {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.box2 .gridcard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 370px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.box2 .gridcard > har {
  margin: 50px;
}
.box2 .gridcard .card > img {
  margin-top: 28px;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 50%;
}
.box2 .gridcard .card > h4 {
  text-align: left;
  width: 300px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.box2 .gridcard .info {
  width: 300px;
  margin-top: -10px;
  box-shadow: 0 0 0 0 whitesmoke;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(244, 234, 234);
}
.box2 .gridcard .info .logos {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.box2 .gridcard .info > p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.ending-part > p {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.ending-part .last-grid {
  height: 300px;
  width: auto;
  -moz-column-gap: 22px;
       column-gap: 22px;
  display: grid;
  gap: 100px;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
}
.ending-part .last-grid > div {
  height: 100px;
  width: 300px;
  gap: 20px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.ending-part .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.ending-part .box > img {
  width: 43px;
  height: 49px;
  flex-shrink: 0;
  margin-top: -25px;
}
.ending-part .box .subdiv > h4 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.ending-part .box p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  margin-top: -20px;
  height: 65px;
  flex-shrink: 0;
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

body {
  padding: 0;
  margin: 0;
  padding: 0;
}

.box1 {
  width: 1440px;
  height: 64px;
  border: 2px solid black;
  background-color: #434ccc;
  border: none;
}
.box1 .logoandcontent {
  width: 1170px;
  height: 48px;
  border: 2px solid black;
  margin-left: 135px;
  margin-top: 16px;
  display: flex;
  border: none;
}
.box1 .logoandcontent .logo {
  width: 102px;
  height: 48px;
  border: 2px solid black;
  color: var(--Text_White, #FFF);
  /* H3 */
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  border: none;
  border: none;
  border: none;
}
.box1 .logoandcontent .aboutsection {
  width: 324px;
  height: 24px;
  border: 2px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 534px;
  text-align: left;
  border: none;
}
.box1 .logoandcontent .aboutsection ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
}
.box1 .logoandcontent .aboutsection ul li {
  color: white;
  list-style: none;
  text-align: right;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.box1 .logoandcontent .button {
  width: 170px;
  height: 48px;
  margin-left: 40px;
  background-color: #434ccc;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 5%;
  margin-top: 16px;
}

.box2 {
  width: 1440px;
  height: 704px;
  border: 2px solid black;
  background-color: #434ccc;
  display: flex;
  border: none;
}
.box2 .duosection {
  height: 507px;
  width: 515px;
  border: 2px solid black;
  margin-left: 135px;
  margin-top: 111px;
  border: none;
}
.box2 .duosection .exp {
  width: 126px;
  height: 24px;
  border: 2px solid black;
  color: var(--Text_White, #FFF);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  border: none;
}
.box2 .duosection .duo {
  width: 515px;
  height: 160px;
  border: 2px solid black;
  margin-top: 24px;
  color: var(--Text_White, #FFF);
  /* H1 */
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  border: none;
}
.box2 .duosection .para1 {
  width: 370px;
  height: 72px;
  border: 2px solid black;
  margin-top: 32px;
  color: var(--Text_White, #FFF);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
.box2 .duosection .explore {
  width: 170px;
  height: 48px;
  margin-top: 41px;
  color: white;
  background-color: #f1b505;
  background-color: #f1b505;
  color: white;
}
.box2 .image {
  width: 50%;
  height: 580px;
  border: 2px solid black;
  margin-right: 120px;
  margin-top: 120px;
  margin-bottom: 500px;
  background-color: #f1b505;
  color: white;
}

.image {
  width: 50%;
  height: 580px;
  border: 2px solid black;
  margin-right: 120px;
  margin-top: 120px;
  margin-bottom: 500px;
  border: none;
  border: none;
  border: none;
}

img {
  width: 900px;
  margin-right: 100px;
}

.box3 {
  width: 1440px;
  height: 768px;
  border: 2px solid black;
  background-color: #ffdd78;
  border: none;
}
.box3 .vivendo {
  width: 469px;
  border: 2px solid black;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 60px;
  margin-left: 485px;
  border: none;
}
.box3 .para2 {
  width: 570px;
  margin-top: 29px;
  margin-left: 435px;
  margin-right: 435px;
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.grid {
  width: 1170px;
  height: 416px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-left: 135px;
  margin-top: 36px;
  margin-bottom: 80px;
  margin-right: 135px;
  position: absolute;
  border: none;
}
.grid div {
  border: 2px solid black;
  background-color: white;
  border: none;
}
.grid .icon1 {
  margin-left: 119px;
  margin-right: 119px;
  margin-top: 64px;
}
.grid .icon2 {
  margin-left: 84px;
  margin-right: 100px;
  margin-top: 73px;
}
.grid .icon3 {
  margin-left: 121px;
  margin-right: 105px;
  margin-top: 58px;
}
.grid .quidam {
  width: 162px;
  height: 32px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 178px;
  margin-top: 54px;
  position: absolute;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: none;
}
.grid .para3quidam {
  width: 306px;
  height: 48px;
  border: 2px solid black;
  margin-top: 101px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 25px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
.grid .line {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background-color: #000;
  margin-top: 25px;
  margin-left: 32px;
  margin-bottom: 18px;
}
.grid .mazim {
  width: 158px;
  height: 32px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 182px;
  margin-top: 63px;
  position: absolute;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: none;
}
.grid .para3mazim {
  width: 306px;
  height: 48px;
  border: 2px solid black;
  margin-top: 110px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 25px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
.grid .learnmore {
  width: 101px;
  margin-top: 18px;
  margin-left: 32px;
  margin-right: 237px;
  color: var(--Text_Black, #000);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.grid .idque {
  width: 175px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 165px;
  margin-top: 48px;
  position: absolute;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: none;
}
.grid .para3idque {
  width: 306px;
  border: 2px solid black;
  margin-left: 33px;
  margin-right: 32px;
  margin-top: 95px;
  margin-bottom: 25px;
  position: absolute;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border: none;
}

#hamburger {
  display: none;
}

@media all and (max-width: 768px) {
  #hamburger {
    display: inline-block;
    margin-left: 264px;
    margin-top: 24px;
    background-color: yellow;
  }
  .aboutsection, .button {
    display: none;
  }
  .box1 {
    width: 100%;
  }
  .box2 {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .box3 {
    width: 100%;
    height: auto;
  }
  .box3 .vivendo {
    width: 100%;
    margin: 0;
  }
  .box3 .duosection {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .box3 .para2 {
    width: 100%;
    margin: 0;
  }
  .box3 .grid {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #ffdd78;
    margin: 0;
  }
  .box3 .grid div {
    margin-bottom: 15px;
    width: 346px;
    margin: 30px;
  }
  .box3 .grid .icon1, .box3 .grid .icon2, .box3 .grid .icon3 {
    margin-left: 107px;
    margin-right: 107px;
    margin-top: 64px;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=styles.css.map */