//  .....harshal.....
 
.box1{
    width: 1440px;
    height: 456px;
    flex-shrink: 0;
    border: 1px solid;
   display: flex;
  
    .item1{
       
        width: 50%;
       text-align: left;
       border: 1px solid rgb(3, 10, 3);
       background: #434CCC;
       display: grid;
       flex-direction: column;
       justify-content: center;

        :nth-child(1){
        color: var(--Text_White, #FFF);
        border-left-color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-top: 50px;
       
       
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
       }
       :nth-child(2){
        color: var(--Text_White, #FFF);

        /* H2 */
        font-family: "DM Serif Display";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
      
        margin-top: 2px;
        line-height: 64px; /* 114.286% */
       }
       :nth-child(3){
        color: var(--Text_White, #FFF);

        /* Text_Big */
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        margin-top: -20px;
           }
        button{
            width: 170px;
            height: 48px;
            flex-shrink: 0;     
            background-color: rgb(241,181,5);
            color: var(--Text_White, #FFF);
            border-radius: 10px;
            margin-bottom: 90px;
           }
         
       }
       
    }
    .item2{   
        flex: 1;  
        text-align:center;
        border: 1px solid rgb(3, 10, 3);
        background: url(./image/figma\ logo.svg), lightgray 0px 0px / 100% 100% no-repeat;
        
        
     }
     .box2{
        width: 1440px;
height: 1600px;
flex-shrink: 0;
border: 2px solid black;
background-color: rgb(245,246,252);
.mid-part{
    display: flex;
    justify-content: space-around;
   
}
h5{
    color: var(--Text_Black, #000);
     text-align: center;
     /* H5 */
     font-family: "DM Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     text-transform: uppercase;
     line-height: 24px; /* 150% */
     letter-spacing: 4.8px;
      
}
h2{
    color: var(--Text_Black, #000);
    text-align: center;

    /* H2 */
    font-family: "DM Serif Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
}
>p{
    color: var(--Text_Black, #000);
text-align: center;

/* Text_Big */
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.gridcard{
    display: grid;
    grid-template-columns: repeat(3,100px);
    
    width: 370px;
height: 480px;
flex-shrink: 0;
border-radius: 5px;
text-align: center;
justify-content: center;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
>har{
 margin: 50px;
}
 
.card>img{
margin-top: 28px;
    width: 300px;
height: 300px;
flex-shrink: 0;
border-radius: 50%;
}
.card>h4{
     text-align: left;
    
     width: 300px;
     color: var(--Text_Black, #000);

     /* H4 */
     font-family: "DM Serif Display";
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px; /* 133.333% */
  
}
.info{
    width: 300px;
   margin-top: -10px;
    box-shadow: 0 0 0 0 whitesmoke;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(244, 234, 234);
   
.logos{
   display: flex;
   
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    
}
>p{
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));

     /* Text_Gray */
     font-family: "DM Sans";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; /* 150% */
}
}
}
    }
 .ending-part{
     
    >p{
        color: var(--Text_Black, #000);
text-align: center;
 
 
/* Text_Big */
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

    }
    .last-grid{
        height:300px ;
        width: auto;
        column-gap: 22px;
        display: grid;
        gap: 100px;
        justify-content: center;
        grid-template-columns: repeat(3,300px);
          
    }
    .last-grid>div{
        height: 100px;  
        width: 300px;
        gap: 20px;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.30);
   
       
    }
    .box{
        display: flex;
   align-items: center;
   justify-content: center;
   
   padding: 12px;
  
    >img{
        width: 43px;
        height: 49px;
        flex-shrink: 0;
        margin-top: -25px;
 
    }
    .subdiv>h4{
        
        color: var(--Text_Black, #000);
          font-family: "DM Serif Display";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
    }
          p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            margin-top: -20px;
            height: 65px;
            flex-shrink: 0;
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;  
          }
    }
   
 }
//  madhu
$box1c: #434CCC; $box2c:#FFDD78;
body{
    margin:0;
    padding:0;
}
.mainbox{
    width: 1440px;
    >div:nth-child(1){
        background-color: $box1c;
        height:768px;
        .logosubbox{
            width:1170px;
            height:48px;
            border:2px solid black;
            margin-left: 135px;
            margin-right: 135px;
            margin-top: 16px;
            // margin-bottom: 20px;
            display: flex;
            position:relative;
            border:none;
            .subbox1{
                width:102px;
                height:48px;
                border:2px solid black;
                text-align: center;
                font-family: "DM Serif Display";
                font-size: 39px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
                color: white;
                border:none;

            }
            .subbox2{
                width:324px;
                height:24px;
                border:2px solid black;
                margin-top: 12px;
                margin-bottom: 12px;
                margin-left: 534px;
                text-align: left;
                border:none;
               ul{
                display: flex;
                justify-content: space-around;
                margin:0px;
                li{
                    color: white;
                    list-style: none;
                    text-align: right;
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                }
               }
            }
            .button{
                width:170px;
                height:48px;
                border: 1px solid white;
                margin-left: 40px;
                background-color: $box1c;
                margin-top: 12px;
                border-radius: 5%;
                text-align: center;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; 
                color: white;

            }
        }
        .picandduo{
            width:100%;
            height:714px;
            border: 2px solid black;
            display: flex;
            border:none;
            .content{
                height:401px;
                width:50%;
                border:2px solid red;
                margin-left: 137px;
                margin-top: 127px;
                border:none;
                .p1{
                    color: var(--Text_White, #FFF);
                    /* H5 */
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    letter-spacing: 4.8px;
                    text-transform: uppercase;
                         }
                         h1{
                            white-space: pre;
                            color: var(--Text_White, #FFF);
                            /* H1 */
                            font-family: "DM Serif Display";
                            font-size: 72px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 80px;
                            margin-top: 24px;
                            }
                            .p2{
                                color: var(--Text_White, #FFF);
                                /* Text */
                                font-family: "DM Sans";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 24px;  
                                margin-top: 32px;                              
                                }
                                button{
                                    width:170px;
                                    height:48px;
                                    background-color: #f1b505;
                                    color: white;
                                                                      
                                }

            }
            .image{
                width: 50%;
                height: 580px;
                border:2px solid black;
                margin-right: 120px;
                margin-top: 120px;
                margin-bottom: 500px;
                // background-image: url(https://s3-alpha-sig.figma.com/img/5559/f5ce/3724b2681eac92a3bcfd7599cd0eec3a?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BOpqSSaCJgVh13TR2Vitf4X2vfl8ayArypSxM4sJONsbxAwd8NlKTsxUo20ChznvGrX60-snvP0M4nK1D8rE01rl4HVXHk2ynfgmmwUI0q44uoqBgz-Xe2GbqSX5~RbuUzVG6ufSEev7lxCN2z5Y0gYOevPVlOJBVYAbh87e-N8tHutEEUDPCaGyEZApsFBrIWsxlEZG2hCRviBuKUYQTL0nqClJM6AnHx95-i9ppY~6Xog-C64vcetaUCU69-TDVoJRy3cUPd-Ck3In0IIfPf1MCbTsN2YLZxjTuEz3ikOj22fzTa5wCIQZLuZfPO7FLqxlp5FjjivjoNmS0IoUww__);
                // background-size: cover;
                border: none;

            }
                  
              }
           }
    >div:nth-child(2){
        background-color: $box2c;
        height:768px;
        .vivendo{
            width:469px;
            height:64px;
            border: 2px solid black;
            margin-top: 60px;
            margin-left: 486px;
            margin-right: 485px;
            margin-bottom: 644px;
            position: absolute;
            text-align: center;
            /* H2 */
            font-family: "DM Serif Display";
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
           
        }
        .para2{
            width:570px;
            height:83px;
            margin-top: 153px;
            margin-bottom: 532px;
            margin-left: 435px;
            margin-right: 435px;
            border: 2px solid black;
            position: absolute;
            color: var(--Text_Black, #000);
            text-align: center;
            /* Text_Big */
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        .grid{
            width:1170px;
            height:416px;
            border: 2px solid black;
            display:grid;
            grid-template-columns: repeat(3,1fr);
            gap:30px;
            margin-left: 135px;
            margin-top: 272px;
            margin-bottom: 80px;
            margin-right: 135px;
            position: absolute;
            border: none;
            >div{
                border:2px solid black;
                background-color: white;
                }
                .icon1{
                    margin-left: 119px;
                    margin-right: 119px;
                    margin-top:64px ;
                    // margin-bottom:238px ;
                }
                .icon2{
                    margin-left: 84px;
                    margin-right: 100px;
                    margin-top:73px ;
                    // margin-bottom:247px ;
                }
                .icon3{
                    margin-left: 121px;
                    margin-right: 105px;
                    margin-top:58px ;
                    // margin-bottom:232px ;
                }
                .quidam{
                    width:162px;
                    height:32px;
                    border:2px solid black;
                    margin-left: 30px;
                    margin-right: 178px;
                    margin-top:54px ;
                    // margin-bottom:152px;
                    position: absolute;
                    color: var(--Text_Black, #000);
                     /* H4 */
                     font-family: "DM Serif Display";
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 32px;
                }
                .para3quidam{
                    width:306px;
                    height:48px;
                    border:2px solid black;
                    margin-top: 101px;
                    margin-right: 32px;
                    margin-left: 32px;
                    margin-bottom: 25px;
                    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                    /* Text_Gray */
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
                .line{
                    width: 338px;
                    height: 1px;
                    flex-shrink: 0;
                    opacity: 0.1011;
                    background-color: #000;
                    margin-top: 25px;
                    margin-left: 32px;
                    margin-bottom: 18px;
                    // position: absolute;
                }
                .mazim{
                    width:158px;
                    height:32px;
                    border:2px solid black;
                    margin-left: 30px;
                    margin-right: 182px;
                    margin-top:63px ;
                    // margin-bottom:152px;
                    position: absolute;
                    color: var(--Text_Black, #000);
                    /* H4 */
                    font-family: "DM Serif Display";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
                .para3mazim{
                    width:306px;
                    height:48px;
                    border:2px solid black;
                    margin-top: 110px;
                    margin-right: 32px;
                    margin-left: 32px;
                    margin-bottom: 25px;
                    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                    /* Text_Gray */
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                } 
                   .learnmore{
                        width:101px;
                        
                        margin-top:18px;
                        margin-left: 32px;
                        margin-right: 237px;
                        color: var(--Text_Black, #000);
                        /* Text */
                        font-family: "DM Sans";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                       
                       
                        
                    }
                    .idque{
                        width:175px;
                        border:2px solid black;
                        margin-left: 30px;
                        margin-right: 165px;
                        margin-top:48px ;
                        position: absolute;
                        color: var(--Text_Black, #000);
                        /* H4 */
                        font-family: "DM Serif Display";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        
                    }
                    .para3idque{
                        width:306px;
                        border:2px solid black;
                        margin-left: 33px;
                        margin-right: 32px;
                        margin-top:95px ;
                        margin-bottom: 25px;
                        position: absolute;
                        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                        /* Text_Gray */
                        font-family: "DM Sans";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        
                    }
                    
                
            }
    }
    >div:nth-child(3){
        height: 1328px;
        .head3{
            width:88px;
            margin-top: 63px;
            margin-left: 676px;
            margin-right: 676px;
            border:2px solid black;
            color: var(--Text_Black, #000);
            text-align: center;
            /* H5 */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
        .head31{
            width:351px;
            border:2px solid black;
            margin-left: 545px;
            margin-left: 545px;
            margin-top: 21px;
            color: var(--Text_Black, #000);
            text-align: center;
            /* H2 */
            font-family: "DM Serif Display";
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;

        }
        .para31{
            width:570px;
            margin-top: 29px;
            margin-left: 435px;
            margin-right: 435px;
            color: var(--Text_Black, #000);
            text-align: center;
            /* Text_Big */
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        .grid2{
            width:1440px;
            height: 1031px;
            border:2px solid black;
            grid-template-columns:repeat(2,1fr) ;
            display: grid;
            position: absolute;
            >div{
                border: 2px solid black;
            }
            .pic1{
                width:684px;
                height:456px;
                border: 2px solid black;
                margin-top: 13px;
                margin-left: 135px;
                background-image: url(https://s3-alpha-sig.figma.com/img/fefb/5e05/0bb7487c83e979e2a96a35da7f11d87b?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XbT1V~Qs6ckDhe8bEX-W6G-zsqzSUfyKciyKAmXZ5Q~WY1RhhzIlUAVYP5rgnw61sfpnBh8ZAbHZUuc8rz93sWJItCHg4Aim4qZXqCi69YMSWAJkFPfTMdUnVyuKVLE8uZlLezumpNswVY7YlsGI6W8bJaiKQPDLoH6Jo7s53pq-skXI3kJN4J6FnuWI5rJHPoACzgLfRqeU1Uc2e4q~-MQDoxY~hghwq5hOirjP15wPsPdI2B1nFMBQ3cuHhzGmTbQu4gvCqEGjW68qXCEbaKriuolZEG93W1-c-wMxC~USHXG~O0TRR1zbduXJBs3nEJ8Y3vyiW2k86zthKh9NrA__);
                background-size: cover;
            }
            .dolorem{
                width: 392px;
                height: 96px;
                border: 2px solid black;
                margin-top: 121px;
                margin-left: 235px;
                color: var(--Text_Black, #000);
                /* H3 */
                font-family: "DM Serif Display";
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;

            }
            .pic1para{
                width:470px;
                height: 75px;
                margin-top: 37px;
                margin-left: 235px;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                /* Text_Gray */
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
            }
            .learnmore1{
                width:88px;
                margin-left: 235px;
                margin-top:37px;
            }
            .nemore{
                width:323px;
                height: 96px;
                margin-right: 382px;
                margin-bottom: 37px;
                margin-top: 97px;
                margin-left: 0px;
                border: 2px solid black;
                color: var(--Text_Black, #000);
                /* H3 */
                font-family: "DM Serif Display";
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
            }
            .pic2para{
                width:470px;
                height:75px;
                border: 2px solid black;
                margin-top: 37px;
                margin-right: 235px;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                /* Text_Gray */
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
            .learnmore2{
                width:88px;
                height:24px;
                margin-right: 617px;
                margin-top: 37px;
        }
    }

}
}
 